<!--
<div>
  <form class="form-group form-control-lg">
    <h3> Please fill out the below form to contact us</h3>

    <label class="col-2 col-form-label"> First Name :  <input type="text" name="firstName"/></label><br>
    <label> Last Name :   <input type="text" name="lastName"/></label><br>
    <label> Phone Number : <input type="number" name="phoneNumber"/></label><br>
    <label> Email Address : <input type="email" class="form-control" name="email"/></label><br>

    <label> Message : <textarea></textarea></label>

  </form>

</div>
-->
<div style="min-height:400px">

  <form class="form-group mb-3" name="userForm" (ngSubmit)="onSubmit(form.value)" #form="ngForm">
    <div class="row">
    <div class="col-sm-6">
      <label>First Name</label>
      <input class="form-control" name="firstName"/>
    </div>
    <div class="col-sm-6">
      <label>Last Name</label>
      <input class="form-control"  name="lastName"/>
    </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <label>Phone Number</label>
        <input type="phone" class="form-control" name="phoneNumber" placeholder="234-443-4432" minlength="10" maxlength="10"/>
      </div>
      <div class="col-sm-6">
        <label>Email Address</label>
        <input type="email" class="form-control" name="email" placeholder="abc@gm.com"/>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <label>Message</label>
        <textarea type="text" class="form-control message" name="message"  minlength="10" maxlength="200"></textarea>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <button type="submit" class="btn btn-success">Submit</button>
    </div>
    </div>
  </form>
</div>

