/* different style for nested spans */
.show-grid [class*="col*"] [class*="col*"] {
  background-color: #eee;
}

.grid-area {
  width:100%;
  height:100%;
}
.left-sidebar .right-sidebar {
  width :20%;
  background-color: yellow;
  height :100%;
}
.main-content {
  width:60%;
  background-color: antiquewhite;
  height :100%;
}
.customNav > a {
  padding: 15px;
  color: white;
  padding:20px;
  position:relative;
  top:13px;
  font-family: ariel;
  font-size: 16px;
  font-weight: bold;
  color: darkblue;

}

.jumbotron {
  margin-bottom: auto;
}
.form-inline {
  display:inline;
  float:right;
  position: relative;
  top: 8px;
  margin-right:60px;
}
.form-inline > input {
  margin-right:10px;
}

.main-area {
  border:1px solid red;

}
.right-sidebar {
  /*border: 1px solid lightslategray;*/
}
.left-sidebar {
  /*border : 1px solid darkgray;*/

}
.customNav {
  width:100%;
  background-color: darkgray;

}
.panel-footer {
  background-color: black;
}

@media only screen and (max-width:1020px) {
  .hide_on_mobile {
    display: none !important;}
}


/*NEED TO DELETE */

/* Dropdown Button */
.dropbtn {
  background-color: darkgray;
  color: blue;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: darkgray; text-decoration: underline}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

.well p {
  position: relative;
  top: -23px;
  left: 60px;
}
.well {
  margin-bottom: 0px;
}
