.playButton {
  background: rgba(7, 20, 30, 0.7);
  /*background: red;*/
  height: 3em;
  position: absolute;
  left: 50%;
  top: 43%;
  width: 4em;
  margin: -25px 0 0 -25px;
  /*border: .2em solid #3b4249;*/
  /*border:.2em solid white;*/
  border-radius: .8em;
  cursor: pointer;
  /* z-index: 2;*/
  opacity: 1;
  box-shadow: 0 0 1em rgba(255, 255, 255, 0.25);
  transition: all .4s
}
.playButton:hover {
  cursor: pointer;
  /*background: rgba(7, 20, 30, 0.7);*/
  background: red;
  border: .2em solid white;
}
.insidePlayButton {
  position: relative;
  height: 100%;
}
.insidePlayButton:before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 0 10px 20px;
  border-color: transparent transparent transparent #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -10px 0 0 -7px;
}

.row {
  margin-left:0px;
  margin-right: 0px;
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid blue;
  border-right: 16px solid green;
  border-bottom: 16px solid red;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.row {
  margin-left:0px;
  margin-right: 0px;
}
img {
  width:100%;
}
.searchWrapper {
  min-height: 600px;
}

@media only screen and (max-width:850px) {
  .playButton{
    top:85%
  }
}
